/* Write your CSS here */

.google {
  width: 450px;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .google {
    width: 200px;
  }
}
.card {
  background-color: #ffffffee;
  margin: 20px;
  box-shadow: 5px 0px 50px 0px rgb(156, 160, 156);
  width: 50vw;
  border-radius: 20px;
  padding: 10px;
}
.searchBar {
  display: flex;
  border-radius: 20px;
  border: 1px solid burlywood;
  height: 40px;
}

input {
  outline: none;
  width: 40vw;
  margin-left: 10px;
  border: none;
}
